<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for forgot-password email</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div th:with="changePasswordUrl=${baseUrl + '/password/reset/confirm'}">
      To change your password please click <a th:href="@{${changePasswordUrl}(hash=${hash})}">here</a>.
    </div>
  </body>
</html>
